.center-content {
  width: 80%;
  margin: auto;
  margin-top: 90px;
}
.success-message {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--green);
  padding: 5px 10px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: .3s all ease;
}
.success-message.active {
  top: 100px;
  visibility: visible;
  opacity: 1;
}