:root {
  --white: #DDDDDD;
  --gray: #4D4D4D;
  --darken-gray: #1C1C1D;
  --lighten-gray: #515151;
  --darken-cian: #072621;
  --cian: #107260;
  --background-gradient: linear-gradient(#0B0B0B, #2B2B2B, #0B0B0B);
  --dark: #0C0C0C;
  --lighten-dark: #161616;
  --transparent-dark: #0c0c0cd1;
;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  color: var(--white);
}
h1, h2, h3, h4 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}
body {
  background: var(--background-gradient);
  height: 5000px;
}